@use '../../styles/mixins.scss' as *;

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas iguais */
    grid-gap: 100px; /* Espaçamento entre os itens */
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}
