@use '../../styles/mixins.scss' as *;

.content {
    width: 15rem;
    height: 100vh;
    background-color: $dark-red;
    padding: 2rem;
    position: fixed;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .screen-1 {
        background-color: $base-black;
        width: 100%;
        height: 50px;
    }

    .screen-2 {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        
        > div {
            background-color: $base-black;
            width: 45%;
            border-radius: 15px;
        }
    }
    
    .blue-buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
        grid-template-rows: repeat(2, 1fr); /* 2 linhas iguais */
        width: 100%;
        height: 90px;
    
        & div {
            border: 1px solid $base-black;  
            background-color: $light-blue;
        }
    }
    
    .white-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        height: 45px;
        width: 100%;
    
        .yellow-circle {
            background-color: $light-yellow;
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    
        > div:first-child {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 90px;
    
            & div {
                border: 1px solid $base-black;
                background-color: $base-white;
            }
        }
    }
}

